:root{
    ---blue-violet: #882ff6;
    ---picton-blue: #37b6f6;
    ---ryb-orange: #ff7000;
    ---light-purple: #d09cfa;
    ---dark-purple: #a555ec;
    ---teal : #709fb0;
    ---purple: #540375;
    ---pink: #ea047e;
    ---orange: #ff6d28;
    ---yellow: #ffbf00;
    ---red: #cd104d;
    ---gold: #fd841f;
    ---dark: #000000;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-kids-nursery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 1.5;
    min-height: 30vh;
    background-color: #a555ec;
    text-align: center;
    width: 100%;
    padding: .4rem;
}
.about-kids-nursery h2{
    margin-bottom: 1rem;
}
.built-with-greatness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 1.5;
    height: auto;
    background-color: #000000;
    text-align: center;
    width: 100%;
    padding: .4rem;
    max-width: 950px;
}
.what-we-do{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    line-height: 1.5;
    height: auto;
    background-color: #000000;
    text-align: center;
    width: 100%;
    padding: .4rem;
}
.what-we-do-details{
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    text-align: left;
    padding: .3rem;
    max-width: 300px;
    height: 250px;
    background-color: #a555ec;
}
.what-we-do-details h2{
    margin-bottom: 1rem;
}
.what-we-do-pic{
    width: 300px;
    height: 250px;    
    overflow: hidden;    
}
.what-we-do-pic img{
    width: 100%;
    height: 100%;
    
}
@media (max-width: 630px) {
    .what-we-do{
        display: flex;
        flex-direction: column;
    }
    .what-we-do-details{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        margin-bottom: 1rem;
        max-width: 400px;
    }
    .what-we-do-pic{
        width: 400px;
    }
}