:root{
    ---blue-violet: #882ff6;
    ---picton-blue: #37b6f6;
    ---ryb-orange: #ff7000;
    ---light-purple: #d09cfa;
    ---dark-purple: #a555ec;
    ---teal : #709fb0;
    ---purple: #540375;
    ---pink: #ea047e;
    ---orange: #ff6d28;
    ---yellow: #ffbf00;
    ---red: #cd104d;
    ---gold: #fd841f;
    ---dark: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-us-page{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    padding: 1rem;
}
.contact-info{
    color: #fff;
    width: 100%;
    min-height: 82vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vw 4vw; 
    background: #000000;   
    border-radius: .5rem;
}
.contact-info h3{
    font-size: 40px;
    margin-bottom: 2rem;
    color: #fff;
}
.contact-info span{
    color: #a555ec;
}
.contact-info a{
    text-decoration: none;
    color: #a555ec;
}
.get-in-touch{
    width: 100%;
    min-height: 82vh;
    height: auto;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    min-height: 82vh;
    height: auto;
}
form h3{
    color: #882ff6;
    font-weight: 800;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: #a555ec;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

@media (max-width: 645px) {
    .contact-us-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .get-in-touch{
        margin-top: 3rem;
    }
}